/*
      SPACE SIZE SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 /
      80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 /
      36 / 44 / 52 / 62 / 74 / 86 / 98

      ### Primary

      - Red: hsl(0, 78%, 62%)
      - Cyan: hsl(180, 62%, 55%)
      - Orange: hsl(34, 97%, 64%)
      - Blue: hsl(212, 86%, 64%)

      ### Neutral

      - Very Dark Blue: hsl(234, 12%, 34%)
      - Grayish Blue: hsl(229, 6%, 66%)
      - Very Light Gray: hsl(0, 0%, 98%)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.heading-primary {
  font-size: 2.8rem;
  font-weight: 200;
  text-align: center;
  padding-top: 6.8rem;
  padding-bottom: 1.6rem;
}

.heading-primary em {
  color: hsl(234, 12%, 34%);
  font-style: normal;
  font-weight: 600;
}

.heading-theritary {
  color: hsl(234, 12%, 34%);
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.center-paragraph {
  display: flex;
  justify-content: center;
}

.header-paragraph {
  width: 48rem;
  color: hsl(229, 6%, 66%);
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 6rem;
}

.description-text {
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  font-size: 0.95rem;
  line-height: 1.9;
  margin-bottom: 3.2rem;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: center;
  justify-content: center; */
  gap: 2.4rem;
  padding: 0rem 32rem;
  /* padding-bottom: 6.4rem; */
}

.card {
  padding: 2.8rem;
  border-radius: 0.4rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 24px 24px;
}

.icon {
  float: right;
}

.first-card {
  border-top: 0.3rem solid hsl(180, 62%, 55%);
}

.second-card {
  border-top: 0.3rem solid hsl(0, 78%, 62%);
}

.third-card {
  border-top: 0.3rem solid hsl(34, 97%, 64%);
  /* grid-column: 2 / 2; */
}

.fourth-card {
  border-top: 0.3rem solid hsl(212, 86%, 64%);
  /* grid-column: 3 / 3; */
}

.first-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-and-third-cards-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.third-box {
  display: flex;
  align-items: center;
}

/* ////////////////////////////////////////////////////////// */
/*****************************/
/* BELOW 544PX (Phones) */
/*****************************/
@media (max-width: 34em) {
  /* .header {
    text-align: center;
  } */

  .heading-primary {
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    padding-top: 6.8rem;
    padding-bottom: 1.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .heading-primary em {
    color: hsl(234, 12%, 34%);
    font-style: normal;
    font-weight: 600;
  }

  .header-paragraph {
    color: hsl(229, 6%, 66%);
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
  }

  .card {
    padding: 2.4rem;
    border-radius: 0.4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 24px 24px;
  }

  .heading-theritary {
    color: hsl(234, 12%, 34%);
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }

  .description-text {
    color: hsl(229, 6%, 66%);
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.9;
    margin-bottom: 3.2rem;
  }

  .icon {
    float: right;
  }

  .first-card {
    border-top: 0.3rem solid hsl(180, 62%, 55%);
  }

  .second-card {
    border-top: 0.3rem solid hsl(0, 78%, 62%);
  }

  .third-card {
    border-top: 0.3rem solid hsl(34, 97%, 64%);
  }

  .fourth-card {
    border-top: 0.3rem solid hsl(212, 86%, 64%);
  }
}
